@font-face {
	font-family: symplyaesthetic;
	font-display: swap;
	src: url("../fonts/symplyaesthetic.woff2") format("woff2"), url("../fonts/symplyaesthetic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
